.App {
  text-align: center;
}

.App-header .Inner {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
}

.App-header .App-logo {
  height: 40px;
  fill: red;
}

.App-header h2 {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 300;
}
